<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>TFBots Stocks</title>
  <meta name="description" content="TFBots Stocks">
  <meta name="author" content="Gabriel Simmer">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
<!--[if lt IE 9]>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
<![endif]-->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">

</head>

<body>
	<a class="github-fork-ribbon" href="https://github.com/gmemstr/TFBots" title="Fork me on GitHub">Fork me on GitHub</a>
	<h1>Trading Bot Backpack Values</h1>
	<p>This project is still in development (especially the webserver
	stuff). All prices are in raw metal and fetched from backpack.tf at 9PM
	every day.</p>
	<img src="{{ url_for('FetchGraph', site = 'market') }}">
	<img src="{{ url_for('FetchGraph', site = 'scrap') }}">
	<img src="{{ url_for('FetchGraph', site = 'stn') }}">
</body>
</html>